[Unit]
Description=iPing360Device Service
After=network.target

[Service]
Type=simple
Restart=always
User=explorer
WorkingDirectory=/home/explorer/iPing360Device/src
# Python unbuffered output (-u) flag required for printing output to journatctl log 
ExecStart=/usr/local/bin/python3.7 -u iping360device.py

[Install]
WantedBy=multi-user.target
